.discover {

  text-align: center;

  .main-title {

    font-family: $titleFontFamily;
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: bold;

  }

  .main-subtitle {
    font-family: $titleFontFamily;
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 1.2em;
  }

}

.step-by-step {
  margin-bottom: 40px;
}
